{% extends "master.html" %}
{% load mathfilters %}

{% block title %}
    Project details for {{ myproject.name }}
{% endblock %}

{% block content %}
<h1>Project details for {{ myproject.name }}</h1>
  
<p>Total time: {{ myproject.total_time }} minutes</p>
<p>Is recording: {{ myproject.is_recording }}</p>

{% if myproject.is_recording %}
    <p><a href="/projects/stop_timer/{{ myproject.id }}/">Stop Timer</a></p>
{% else %}
    <p><a href="/projects/start_timer/{{ myproject.id }}/">Start Timer</a></p>
{% endif %}

<h2>Time entries</h2>
<ul>
{% for x in time_entries %}
    <li>{{ x.start_time.date }} | {{ x.start_time.time }} - {{ x.end_time.time }} | {{ x.duration|div:3600|floatformat:2 }} hours </li>
{% endfor %}
</ul>

<h2 class="text-muted">Delete Project</h2>
<h3 class="text-muted">Very dangerous place to be...</h3>

<form action="/projects/delete/{{ myproject.id }}/" method="post">
    {% csrf_token %}
    <input type="submit" value="Delete Project" class="btn btn-danger">
</form>

<p>Back to <a href="/projects">Projects</a></p>

{% endblock %}