{% extends "master.html" %}
{% load mathfilters %}

{% block title %}
    Project details for {{ myproject.name }}
{% endblock %}

{% block content %}
<h1 class="text-center">
    {{ myproject.name }} <>
    {{ myproject.total_time|div:3600|floatformat:1 }} hours
</h1>

<div class="container text-center">
    
    {% if myproject.is_recording %}
        <button class="btn btn-outline-primary"><a href="/projects/stop_timer/{{ myproject.id }}/">Stop Timer</a></button>
    {% else %}
        <button class="btn btn-outline-primary"><a href="/projects/start_timer/{{ myproject.id }}/">Start Timer</a></button>
    {% endif %}
    
</div>

<div class="container text-center custom-time-entries">
    <ul>
    {% for x in time_entries %}
        <li>{{ x.start_time.date }} | {{ x.start_time.time }} - {{ x.end_time.time }} | {{ x.duration|div:3600|floatformat:2 }} hours | <a href="/projects/delete_time_entry/{{ x.id }}">Delete</a></li>
    {% endfor %}
    </ul>
</div>

<form class="text-center" action="/projects/delete/{{ myproject.id }}/" method="post">
    {% csrf_token %}
    <input type="submit" value="Delete Project" class="btn btn-danger">
</form>

{% endblock %}